.Card {
  position: relative;
  width: 300px;
  height: 150px;
  margin-left: 50px;

  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
}

.CardTextArea {
  width: 275px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.04);
  border: none;
  resize: none;
}

.CardTextArea:focus {
  width: 275px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  border: none;
  resize: none;
}
.DeleteIcon {
  position: absolute;
  cursor: pointer;
  border-radius: 100%;
  background-color: #dddd;
  color: rgba(0,0,0,0.2);
  width: 16px;
  height: 16px;
  top: -5px;
  left: -5px;
  line-height:1em;
  /* visibility: hidden; */
}
.DeleteIcon:hover {
  visibility: visible;
}
