textarea {
  font-family: 'Open-Sans', sans-serif;
}

.CardListContainer {
  text-align: center;
  display: inline-flex;
  align-items: flex-start;
  background-color: rgb(240, 240, 240);
  width: 100vw; 
}

.flex-item {
  flex-grow: 1;
  align-self: flex-start;
  flex-direction: column;
}
